<div class="container">

  <h1>展示案例</h1>

  <div class="ui-g">

      <div class="botonera">
          <button pButton (click)="lanzarErrorNegocioAction()" class="btn btn-default" title="" label="啟動業務錯誤"></button>
          <button pButton (click)="lanzarErrorInternoAction()" class="btn btn-default" title="" label="啟動內部錯誤"></button>
          <button pButton (click)="accederAccionAdministradorAction()" class="btn btn-default" title="" label="管理員操作"></button>
          <button pButton (click)="procesarEnBackendAction()" class="btn btn-default" title="" label="處理（5秒）"></button>
      </div>

  </div>
</div>
